*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
    background-color: rgb(16, 161, 91);
    color: white;   
}

.logo{
    font-size: 30px;
}

.nav-link{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    width: 75%;
}

.compnav{
    text-decoration: none;
    color:white;
    font-size: 20px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
}

